* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f3f4f5;
  font-size: 1.4rem;
}

html, body {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

.Page {
  margin-top: 10rem;
}

.Main-title {
  font-size: 3.5rem;
  color: #6c757d;
  text-align: center;
  padding-top: 8rem;
  letter-spacing: 2px;
}

.second-title {
  font-size: 2.5rem;
  font-style: italic;
  color: #6c757d;
  margin-bottom: 2rem;
}

.underline {
  display: block;
  width: 150px;
  height: 2px;
  background-color: #6c757d;
  border-radius: 3px;
  margin: 35px auto 10rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

@media screen and (min-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0;
  }
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.text-center {
  text-align: center;
}

.Header {
  background-color: #343a40;
  position: absolute;
  top: 0;
  width: 100%;
  height: 10rem;
  z-index: 999;
  -webkit-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;
}

@media screen and (min-width: 768px) {
  .Header {
    padding: 1rem 0;
  }
}

.Header__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .Header__holder {
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.Header__brand-name {
  font-size: 3.5rem;
  font-family: 'Akronim';
  color: #73e550;
  text-shadow: 0 0 9px;
  text-decoration: none;
  margin-right: auto;
  padding: 2.55rem 0 2.55rem 0;
  font-weight: 500;
  -webkit-transition: text-shadow .3s;
  -o-transition: text-shadow .3s;
  transition: text-shadow .3s;
}

@media screen and (min-width: 768px) {
  .Header__brand-name {
    font-size: 5.5rem;
    padding: 0;
  }
}

.Header__brand-name:hover {
  text-shadow: 0 0 15px;
}

.Header__hambMenu {
  position: absolute;
  top: 3.2rem;
  right: 1.6rem;
  width: 60px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem 0;
}

@media screen and (min-width: 768px) {
  .Header__hambMenu {
    display: none;
  }
}

.Header__hambMenu__item {
  width: 40px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
}

.Header__navbar-show {
  height: 23rem;
}

.Navbar {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

@media screen and (min-width: 768px) {
  .Navbar {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
}

.Navbar__show {
  visibility: visible;
  opacity: 1;
  height: auto;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

@media screen and (min-width: 768px) {
  .Navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.Navbar__list-item {
  padding: .5rem 0;
}

@media screen and (min-width: 768px) {
  .Navbar__list-item:nth-child(4) {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .Navbar__list-item {
    padding: .5rem 1rem;
  }
}

.Navbar__link {
  display: block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.Navbar__link:hover {
  color: #73e550;
}

.Navbar__link:active {
  background-color: transparent;
}

.Navbar__link__active {
  color: #73e550;
}

.Navbar__dropdown {
  position: relative;
}

.Navbar__dropdown__list {
  position: absolute;
  top: 22px;
  right: -21px;
  background-color: #4b545c;
  padding: 5px 28px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.Navbar__dropdown__list-show {
  top: 35px;
  opacity: 1;
}

.Navbar__dropdown__marker-1, .Navbar__dropdown__marker-2 {
  position: absolute;
  top: 9px;
  right: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #73e550;
}

@media screen and (min-width: 768px) {
  .Navbar__dropdown__marker-1, .Navbar__dropdown__marker-2 {
    right: -3px;
  }
}

.Navbar__dropdown__marker-2 {
  border-width: 10px 5px 0 5px;
  border-color: #73e550 transparent transparent transparent;
}

.Navbar__dropdown > a {
  cursor: pointer;
}

.Footer {
  background-color: #343a40;
  padding: 5rem 0;
}

.Footer__links-holder, .Footer__contacts-holder {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.Footer__links-holder .Navbar__link, .Footer__contacts-holder .Navbar__link {
  text-align: left;
}

.Footer__contacts-holder .Navbar-item {
  color: #fff;
  margin-bottom: 2rem;
  margin-left: 6rem;
  position: relative;
}

.Footer__contacts-holder .Navbar-item:nth-child(1):before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: -5px;
  left: -30px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(16deg) brightness(106%) contrast(103%);
          filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(16deg) brightness(106%) contrast(103%);
  background-image: url("./icons/cell-phone.png");
}

.Footer__contacts-holder .Navbar-item:nth-child(2):before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: -5px;
  left: -30px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(16deg) brightness(106%) contrast(103%);
          filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(16deg) brightness(106%) contrast(103%);
  left: -35px;
  background-image: url("./icons/landline-phone.png");
}

.Footer__contacts-holder .Navbar-item:nth-child(3):before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: -5px;
  left: -30px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(16deg) brightness(106%) contrast(103%);
          filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(16deg) brightness(106%) contrast(103%);
  background-size: contain;
  left: -33px;
  background-image: url("./icons/email-icon.png");
}

.Footer__contacts-holder .Navbar-item:nth-child(4) {
  text-decoration: none;
}

.Footer__contacts-holder .Navbar-item:nth-child(4):hover {
  text-decoration: underline;
}

.Footer__contacts-holder .Navbar-item:nth-child(4):hover:before {
  -webkit-filter: invert(45%) sepia(0%) saturate(7409%) hue-rotate(16deg) brightness(118%) contrast(150%);
          filter: invert(45%) sepia(0%) saturate(7409%) hue-rotate(16deg) brightness(118%) contrast(150%);
}

.Footer__contacts-holder .Navbar-item:nth-child(4):before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: -5px;
  left: -30px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(16deg) brightness(106%) contrast(103%);
          filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(16deg) brightness(106%) contrast(103%);
  background-size: contain;
  left: -33px;
  background-image: url("./icons/fb-icon.png");
  -webkit-filter: invert(55%) sepia(0%) saturate(1%) hue-rotate(-72deg) brightness(161%) contrast(103%);
          filter: invert(55%) sepia(0%) saturate(1%) hue-rotate(-72deg) brightness(161%) contrast(103%);
}

.Footer .second-title {
  color: #fff;
  letter-spacing: 3px;
}

.Carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 200px;
  margin: 5rem auto;
}

@media screen and (min-width: 576px) {
  .Carousel {
    width: 510px;
    height: 270px;
  }
}

@media screen and (min-width: 768px) {
  .Carousel {
    width: 690px;
  }
}

@media screen and (min-width: 992px) {
  .Carousel {
    width: 930px;
    height: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .Carousel {
    width: 1110px;
    height: 500px;
  }
}

.Carousel:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.Carousel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Carousel__inner__animation {
  -webkit-transition: -webkit-transform .7s ease-in-out;
  transition: -webkit-transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
}

.Carousel__inner__stopAnimation {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.Carousel__item {
  width: 100%;
  height: 200px;
}

@media screen and (min-width: 576px) {
  .Carousel__item {
    height: 270px;
  }
}

@media screen and (min-width: 992px) {
  .Carousel__item {
    height: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .Carousel__item {
    height: 500px;
  }
}

.Carousel__item__img {
  width: 480px;
  height: 200px;
}

@media screen and (min-width: 576px) {
  .Carousel__item__img {
    width: 510px;
    height: 270px;
  }
}

@media screen and (min-width: 768px) {
  .Carousel__item__img {
    width: 690px;
  }
}

@media screen and (min-width: 992px) {
  .Carousel__item__img {
    width: 930px;
    height: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .Carousel__item__img {
    width: 1110px;
    height: 500px;
  }
}

.Carousel__caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  color: #fff;
  z-index: 100;
}

.Carousel__caption__holder {
  position: inherit;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .Carousel__caption__holder {
    padding: 0 7rem;
  }
}

@media screen and (min-width: 1200px) {
  .Carousel__caption__holder {
    padding: 0 13rem;
  }
}

.Carousel__caption__title {
  font-family: 'Akronim';
  letter-spacing: 2px;
  line-height: 1.2;
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

@media screen and (min-width: 576px) {
  .Carousel__caption__title {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .Carousel__caption__title {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .Carousel__caption__title {
    padding-bottom: 5rem;
  }
}

.Carousel__caption__title .Logo {
  font-size: 3.5rem;
  font-family: 'Akronim';
  color: #73e550;
  text-shadow: 0 0 9px;
  text-decoration: none;
  margin-right: auto;
  padding: 2.55rem 0 2.55rem 0;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .Carousel__caption__title .Logo {
    font-size: 5.5rem;
  }
}

.Carousel__caption__paragraph {
  text-align: justify;
  font-size: 1.2rem;
}

@media screen and (min-width: 576px) {
  .Carousel__caption__paragraph {
    font-size: 1.4rem;
  }
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
  -webkit-animation: move-opacity;
          animation: move-opacity;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
}

.Modal__holder {
  width: 100%;
  height: 100vh;
  position: relative;
}

.Modal__holder__thumbs {
  display: none;
}

.Modal__holder__img {
  width: 75%;
  height: 100vh;
  min-height: 320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Modal__holder__img__item {
  width: 100%;
  max-width: 75rem;
  max-height: 60rem;
  margin: 0 auto;
}

.Modal__holder__prev-btn, .Modal__holder__next-btn {
  position: absolute;
  top: 50%;
  left: 2px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 50px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .Modal__holder__prev-btn, .Modal__holder__next-btn {
    left: 30px;
  }
}

@media screen and (min-width: 992px) {
  .Modal__holder__prev-btn, .Modal__holder__next-btn {
    left: 55px;
  }
}

@media screen and (min-width: 1200px) {
  .Modal__holder__prev-btn, .Modal__holder__next-btn {
    left: 135px;
  }
}

.Modal__holder__prev-btn:after, .Modal__holder__next-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("./icons/prev-icon.png");
  width: 32px;
  height: 32px;
  -webkit-filter: invert(92%) sepia(97%) saturate(654%) hue-rotate(41deg) brightness(96%) contrast(86%);
          filter: invert(92%) sepia(97%) saturate(654%) hue-rotate(41deg) brightness(96%) contrast(86%);
}

.Modal__holder__next-btn {
  right: 2px;
  left: initial;
}

@media screen and (min-width: 768px) {
  .Modal__holder__next-btn {
    right: 30px;
  }
}

@media screen and (min-width: 992px) {
  .Modal__holder__next-btn {
    right: 55px;
  }
}

@media screen and (min-width: 1200px) {
  .Modal__holder__next-btn {
    right: 135px;
  }
}

.Modal__holder__next-btn:after {
  content: "";
  position: absolute;
  background-image: url("./icons/next-icon.png");
  width: 32px;
  height: 32px;
  -webkit-filter: invert(92%) sepia(97%) saturate(654%) hue-rotate(41deg) brightness(96%) contrast(86%);
          filter: invert(92%) sepia(97%) saturate(654%) hue-rotate(41deg) brightness(96%) contrast(86%);
}

.Modal__holder__exit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.Modal__holder__exit-btn:after {
  content: '';
  position: absolute;
  background-image: url("./icons/exit-icon-1.png");
  width: 48px;
  height: 48px;
  -webkit-filter: invert(92%) sepia(97%) saturate(654%) hue-rotate(41deg) brightness(96%) contrast(86%);
          filter: invert(92%) sepia(97%) saturate(654%) hue-rotate(41deg) brightness(96%) contrast(86%);
}

@-webkit-keyframes move-opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes move-opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.Home__section__1 {
  padding-bottom: 4rem;
}

.Home__section__1__paregraph {
  color: #313539;
  padding: 2rem 0;
  font-size: 1.6rem;
  cursor: default;
}

.Home__section__1__card {
  width: 100%;
  padding: .75rem .75rem .35rem .75rem;
  border: 1px solid #6c757d;
  border-radius: 3px;
}

.Home__section__1__card img {
  width: 100%;
}

.Home__section__2__process {
  margin-bottom: 5rem;
  border-bottom: 1px solid #6c757d;
  padding-bottom: 1rem;
}

.Home__section__2__process__paragraph {
  text-align: justify;
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .Home__section__2__process__paragraph {
    font-size: 2rem;
  }
}

.Home__section__2__process__image {
  display: block;
  width: 20rem;
  min-width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin: 2rem auto;
}

@media screen and (min-width: 768px) {
  .Home__section__2__process__image {
    margin-left: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .Home__section__2__process__text-img-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.Home__section__2 .col-12:last-child .Home__section__2__process {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .Home__section__2 .col-12:nth-child(even) .Home__section__2__process__text-img-holder {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .Home__section__2 .col-12:nth-child(even) .Home__section__2__process__image {
    margin-left: 0;
    margin-right: 10rem;
  }
}

@-webkit-keyframes move-title {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-1rem) rotate(-3deg);
            transform: translateY(-1rem) rotate(-3deg);
  }
  40% {
    -webkit-transform: translateY(0.5rem) rotate(1.5deg);
            transform: translateY(0.5rem) rotate(1.5deg);
  }
  60% {
    -webkit-transform: translateY(-0.25rem) rotate(1.75deg);
            transform: translateY(-0.25rem) rotate(1.75deg);
  }
  80% {
    -webkit-transform: translateY(0) rotate(2deg);
            transform: translateY(0) rotate(2deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@keyframes move-title {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-1rem) rotate(-3deg);
            transform: translateY(-1rem) rotate(-3deg);
  }
  40% {
    -webkit-transform: translateY(0.5rem) rotate(1.5deg);
            transform: translateY(0.5rem) rotate(1.5deg);
  }
  60% {
    -webkit-transform: translateY(-0.25rem) rotate(1.75deg);
            transform: translateY(-0.25rem) rotate(1.75deg);
  }
  80% {
    -webkit-transform: translateY(0) rotate(2deg);
            transform: translateY(0) rotate(2deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

.AboutUs {
  padding: 3rem 0;
}

@media screen and (max-width: 576px) {
  .AboutUs .container {
    max-width: 479px;
  }
}

.AboutUs .Main-title {
  padding-top: 3rem;
}

.AboutUs .underline {
  margin-bottom: 7rem;
}

.AboutUs__paragraphs {
  color: #212529;
  font-size: 1.6rem;
}

.AboutUs__paragraph {
  padding-bottom: 1.5rem;
  text-align: justify;
}

.AboutUs__links-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 3rem;
}

.AboutUs__links-holder .Navbar__link {
  color: #6c757d;
}

.AboutUs__links-holder .Navbar__link:hover {
  color: #379e17;
}

.AboutUs__links-holder .Navbar__list-item {
  padding-left: 0;
}

.Products {
  padding-top: 5rem;
}

.Products .second-title {
  font-weight: 500;
  text-align: center;
  margin-bottom: 5rem;
}

.Products .second-title__span {
  display: inline-block;
}

.Products .second-title__span::first-letter {
  text-transform: uppercase;
}

.Product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10rem;
}

.Product:hover .Product__img__preview {
  opacity: 1;
}

@media screen and (min-width: 576px) {
  .Product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.Product__img {
  position: relative;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

@media screen and (min-width: 576px) {
  .Product__img {
    width: 50%;
    border-radius: 0;
    padding: .5rem 0 .5rem .5rem;
  }
}

@media only screen and (hover: hover) {
  .Product__img__preview {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 3px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
  }
}

@media only screen and (hover: hover) and (min-width: 576px) {
  .Product__img__preview {
    top: 5px;
    left: 5px;
    bottom: 5px;
  }
}

@media only screen and (hover: hover) {
  .Product__img__preview__icon {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-130%, 50%);
        -ms-transform: translate(-130%, 50%);
            transform: translate(-130%, 50%);
    width: 34px;
    height: 30px;
    background-image: url("./icons/preview-icon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media only screen and (hover: none) {
  .Product__img__preview {
    position: absolute;
    right: -120%;
    bottom: 3px;
    height: 0;
    width: 100%;
    border-bottom: 65px solid rgba(0, 0, 0, 0.7);
    border-left: 45px solid transparent;
    -webkit-animation-name: move-preview;
            animation-name: move-preview;
    -webkit-animation-duration: .7s;
            animation-duration: .7s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
}

@media only screen and (hover: none) and (min-width: 576px) {
  .Product__img__preview {
    bottom: 5px;
  }
}

@media only screen and (hover: none) and (min-width: 768px) {
  .Product__img__preview {
    border-bottom: 45px solid rgba(0, 0, 0, 0.7);
  }
}

@media only screen and (hover: none) {
  .Product__img__preview__icon {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-130%, 50%);
        -ms-transform: translate(-130%, 50%);
            transform: translate(-130%, 50%);
    width: 34px;
    height: 30px;
    background-image: url("./icons/preview-icon.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media only screen and (hover: none) and (min-width: 768px) {
  .Product__img__preview__icon {
    top: -50%;
    -webkit-transform: translate(-90%, 25%);
        -ms-transform: translate(-90%, 25%);
            transform: translate(-90%, 25%);
  }
}

.Product__img img {
  width: 100%;
  height: 100%;
}

.Product__data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: -0.5rem;
}

@media screen and (min-width: 576px) {
  .Product__data {
    width: 50%;
    border: none;
    margin-top: 0;
  }
}

.Product__data__title {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.Product__data__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Product__data__box__1, .Product__data__box__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Product__data__box__1 p, .Product__data__box__2 p {
  margin-bottom: 1rem;
}

.Product__data__box__2 {
  margin-left: 2rem;
}

.Product__data__box__2 p {
  margin-bottom: 1rem;
}

@-webkit-keyframes move-preview {
  80% {
    right: 0%;
  }
  99% {
    right: -10%;
  }
  100% {
    right: -10%;
    width: 100%;
  }
}

@keyframes move-preview {
  80% {
    right: 0%;
  }
  99% {
    right: -10%;
  }
  100% {
    right: -10%;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */